.glyphicon-trash:hover {
    color: lightcoral;
}

textarea {
    width: 100%;
}

.cardName{
    width: 200px;
}

.nav-tabs>li.active>a {
    color: black !important;
}

.not-allowed {cursor: not-allowed; pointer-events: none;}